.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  
}

#background {
  width: 100%;
  height: 100%;
  fill: #00FFFF;
}


#buttonborder{
  cx: 42%;
  cy: 50%;
  r:26%;
  height:25%;
  fill:black;
  pointer-events:visible;
}

#mybutton {
  cx: 42%;
  cy: 50%;
  r:25%;
  height:25%;
  fill:white;
  pointer-events:visible;
  
}



#mybuttontext text{
  x: 41%;
  font-family: "Tungsten-Medium";
  
  font-size: 30;
  fill: white;
  
}
#buttonbase{
  cx: 42%;
  cy: 50%;
  r:25%;
  height:25%;
  fill:black;
  pointer-events:visible;
}
#mixedtext text{
  font-size: 145;
}

/* #mixedblock textarea text{
  font-family: Colfax-Light;
  font-size: 5; 
}

body {
  font-size: ;
} */



#lineone{
  y: 49%;
}

#linetwo{
  y: 59%;
}

#list{
 x: 30%; 
 fill: white;
}

#list1{
y: 3%;
}

#list2{
y:28%; 
}

#list3{
y:53%;
}

#list4{
y:78%;  
}

#list5{
 y:150%; 
}



.tile-list-item {
  height: 80;
  /* width: 80%; */
  fill: red;
  text-length: 100;
}

.tile-list-item2 {
  height: 80;
  width: 80%;
  fill: green;
  text-length: 100;
}




.tile-list-item text {
  font-family: System-Regular;
  fill: "white";
  font-size: "12";
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 98%;
  height: 2;
  fill: #A0A0A0;
}



#choices{
  
}

#my-trial{
y: 20%  
}
